@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    min-width: 400px;
    background-color: #eee;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

nav {
    background-color: #fff;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ddd;
    margin-right: -5px;
    color: #111;
    text-decoration: none;
}

nav a:hover {
    background-color: #aaa;
}